.post_detail{
    margin-bottom: 2em;
}

.post_detail .bg_img{
    width: 800px;
    height: 450px;
    background-color: #ddd;

    display: flex;
    align-items: center;
    justify-content: center;
}

.post_detail img{
    max-width: 800px;
    max-height: 450px; 
}

.post_detail h2{
    margin-bottom: .4em;
}

.post_detail .tags{
    margin-bottom: 1.2em;
    display: flex;
}

.tags p{
    margin-right: .5em;
}

.tags span{
    font-weight: bold;
}

.createby{
    font-style: italic;
    color: #444;
    font-size: .8em;
    margin-bottom: 1em;
}